body {
	font-family: sans-serif;
}
noscript p {
	width: 100%;
	background-color: red;
	text-align: center;;
}
.inner {
	width: 960px;
	margin: 0 auto;
	min-height: 100px;
	padding: 30px 10px;
}
.top {
	width: 100%;
}
.t1_3 {
	width: 33%;
}