body {
	font-family: sans-serif;
}
noscript p {
	width: 100%;
	background-color: red;
	text-align: center;
	color: white;
	height: 30px;
	padding-top: 10px;
}
@font-face {
	font-family: 'PetitaLight';
	src: url('fonts/PetitaLight.eot');
	src: local('☺'), url('fonts/PetitaLight.woff') format('woff'), url('fonts/PetitaLight.ttf') format('truetype'), url('fonts/PetitaLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
a:visited{
	color: #0000EE;
}
.page1 {
	color: #3d4246;
}
.page2{
	color: #3A2C14;
}
.page3{
	color: #27403D;
}
.about {
	color: #2E2D2B;
}
.page {
	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,.2);
	-moz-box-shadow:    inset 0px 2px 3px 0px rgba(0,0,0,.2);
	box-shadow:         inset 0px 2px 3px 0px rgba(0,0,0,.2);
}
.inner h1 {
	font-size: 46px;
	font-family: PetitaLight;
}
.inner p {
	font-size: 16px;
}
.inner {
	width: 960px;
	margin: 0 auto;
	min-height: 200px;
	padding: 30px 10px;
}
.top {
	width: 100%;
	margin-bottom: -5px;
}
.top img {
	width: 100%;
}
.wrapRight {
	float: right;
	margin: 10px;
}
.nav {
	background-color: #9309BC;
	width: 100%;
	height: 60px;
	z-index: 99999;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,.2);
	-moz-box-shadow:    0px 2px 3px 0px rgba(0,0,0,.2);
	box-shadow:         0px 2px 3px 0px rgba(0,0,0,.2);
}
.nav a:visited, .nav a {
	color: white;
	text-decoration: none;
	text-align: center;
	display: block;
	height: 37px;
	float: left;
	padding: 23px 30px 0 30px;
	font-size: 22px;
	font-family: "PetitaLight";
	letter-spacing: 1px;
}
.nav a:hover {
	background: #9C30BD;
}
.nav a.active {
	background: #9C54B1;
}
.navInner {
	width: 960px;
	margin: 0 auto;
}
.end {
	padding-right: 0 !important;
}
.twitter-share-button {
	position: relative !important;
	top: 3px !important;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* jssor slider bullet navigator skin 13 css */
/*
.jssorb13 div           (normal)
.jssorb13 div:hover     (normal mouseover)
.jssorb13 .av           (active)
.jssorb13 .av:hover     (active mouseover)
.jssorb13 .dn           (mousedown)
*/
.jssorb13 {
    position: absolute;
}
.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    background: url('../img/b13_2.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb13 div { background-position: -5px -5px; }
.jssorb13 div:hover, .jssorb13 .av:hover { background-position: -35px -5px; }
.jssorb13 .av { background-position: -65px -5px; }
.jssorb13 .dn, .jssorb13 .dn:hover { background-position: -95px -5px; }
